.formcontato {
  margin-top: 40px;
}

.formcontato__contacto {
  text-align: center;
  display: flex;
}

.formcontato--esquerda {
  display: flex;
  margin-left: auto;
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px;
}

.formcontato__input {
  display: flex;
  flex-direction: column;
  width: 656px;
  height: 56px;
  font-family: "Raleway";
  border-radius: 10px;
  border-color: var(--cinza-do-cabecalho);
}

.formcontato__textarea {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-family: "Raleway";
  border-radius: 10px;
  border-color: var(--cinza-do-cabecalho);
  width: 656px;
  height: 133px;
}

.formcontato__botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  width: 165px;
  height: 51px;
}

button.formcontato__botao {
  width: 11rem;
  background: var(--cinza-do-cabecalho);
  margin-left: 146px;
}

.formcontato__img {
  margin: 30px;
}

#email.formcontato__input {
  margin-top: 0;
}

#nome2.formcontato__input {
  margin-top: 38px;
}

#mensagem.formcontato__textarea {
  margin-top: auto;
}

@media (max-width: 768px) {
  .formcontato {
    margin-top: 40px;
  }
  .formcontato__contacto {
    flex-direction: column;
  }
  .formcontato--esquerda {
    display: none;
  }
}

@media (max-width: 414px) {
  .formcontato__text {
    align-items: center;
    margin-right: -24px;
  }
}

.formcontato__input {
  display: block;
  margin: 23px 48px -15px;
  padding: 0px 89px;
  text-align: center;
  width: 45%;
}

.formcontato__textarea {
  width: 359px;
  margin-left: 50px;
  margin-top: 28px;
}

.formcontato__botao {
  width: 250px;
  margin-left: 105px;
}

.formcontato__form {
  margin-right: 77px;
}

.formcontato__title {
  margin-right: 32px;
}

h3.formcontato__subtext1 {
  margin-right: 41px;
  font-size: 24px;
}

.formcontato__subtext2 {
  margin-right: 43px;
}
