.footer {
    background: var(--cinza-do-cabecalho);
  }
  
  .footer__rodape {
    text-align: center;
    color: white;
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    
    .footer {
      background: var(--cinza-do-cabecalho);
    }
  
    .footer__rodape {
      text-align: center;
      padding: 30px;
    
  }
  
  }
  
  @media (max-width: 414px) {
    .footer {
      background: var(--cinza-do-cabecalho);
    }
    .footer {
      text-align: center;
      padding: px;
    }
  }
  